*{
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
ul{
	padding: 0;
	list-style-type:none ;
}
a{
	text-decoration: none;
	color: #fff;
}
body{
	background: url(../img/1.jpeg)center top fixed;
	min-height: 1200px;
	color: #fff;
}
.wrapper{
	max-height: 1200px;
	padding: 20px;
	margin: auto;
}
header{
	position: relative;
	margin: 30px 0px;
}
.log h1{
	display: none;
}
.logo img{
	width: 80px:
	height:auto;
}
.mainNav{
    position: absolute;
    top: 0;
    right: 0;
}
.mainNav ul li{
    float: left;
    margin: 20px 30px;
}
.mainNav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    border: 1px solid transparent;
    transition: color .5s,border .5s;
    //这里注意，最好不用设置成 all .5s
}
.mainNav ul li a:hover{
    color: #000;
    border: 1px solid #fff;
}
header h2{
    margin: 50px 0;
    font-size: 30px;
}
p a{
    border-bottom:1px dashed #fff;
    padding-bottom: 4px;
    transition: border .5s;
}
p a:hover{
    border-bottom:1px solid #fff;
}
main section ul li{
	float: left;
	margin: 25px;
}
main section ul li a{
	padding:20px 60px;
	background-color:rgba(255,219,109,0.5);
	transition: all 0.5s;
	border-radius:10px ;
	color: white;
}
main section ul li a:hover{
	background-color:rgb(255,202,41);
	border-radius:0px ;
}
main section .xiang{
	margin-left:25px ;
}
main section .xiang figure{
	float: left;
	position: relative;
}
main section .xiang figure a img{
	position: relative;
	width:250px;
	-webkit-filter: grayscale(40%); 
	-moz-filter: grayscale(40%); 
	-ms-filter: grayscale(40%); 
	-o-filter: grayscale(40%); 
	filter: grayscale(40%);
	filter: gray; 
	transition: all 0.5s;
}
main section .xiang figure:hover a img{
	-webkit-filter: grayscale(0); 
	-moz-filter: grayscale(0); 
	-ms-filter: grayscale(0); 
	-o-filter: grayscale(0);
	filter: grayscale(0); 
}
main section .xiang figure figcaption{
	position:absolute;
	color: white;
	z-index: 2;
	margin: 23% 35%;
	opacity: 0;
	transition: all 0.5s;
	}
main section .xiang figure:hover figcaption{
	opacity: 1;
}
